@model Application.viewModels.saveRegionViewModel
@{   
    ViewData["Title"] = "Eliminar Region";
}
<br /><br /><br />
<div class="row" >
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h4 >Esta seguro que desea eliminar la region @Model.Name?</h4>
            </div>
            <div class="card-body" style="background-color: #C7DBD2">
                <form method="post" asp-controller="region" asp-action="DeletePost">                 

                    <input type="hidden" asp-for="Id" />

                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-trash"></i> Si</button>
                    <a asp-controller="region" asp-action="mantenimiento" class="btn btn-success">
                        <i class="fa-solid fa-cancel"></i> Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>